<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <title>@ViewData["Title"] - SQuiL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/font-classes.css" />
    <link rel="stylesheet" href="~/css/entity.css" />

    <link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="/fontawesome/css/solid.min.css" rel="stylesheet">

    <style>.github-fork-ribbon:before { background-color: gray !important; }</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />

    <partial name="_GoogleAnalytics" />
</head>
<body>
    <a class="github-fork-ribbon" href="https://github.com/jtheisen/squil" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link text-muted" asp-area="" asp-controller="Home" asp-action="Index">Databases</a></li>
                    @RenderSection("NavItems", required: false)
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <nav class="border-top navbar navbar-expand-sm footer text-muted">
        <div class="container">
            <ul class="navbar-collapse nav navbar-nav mr-auto">
                <li class="nav-item mr-auto">
                    <span class="navbar-text">&copy; @DateTime.Now.Year - Jens Theisen</span>
                </li>
                <li class="nav-item"><a class="nav-link text-muted" href="https://squil.net">About</a></li>
                <li class="nav-item"><a class="nav-link text-muted" href="https://github.com/jtheisen/squil">Github</a></li>
            </ul>
        </div>
    </nav>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
