@inject IOptions<AppSettings> Settings
@inject NavigationManager Nav

<CascadingValue Value="@Location">
    <Router AppAssembly="@typeof(Main).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(StaticLayout)" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(StaticLayout)">
                <DefaultLayout>
                    <div class="d-flex justify-content-center align-items-center" style="min-height: 75vh">
                        <p role="alert">Sorry, there's nothing at this location.</p>
                    </div>
                </DefaultLayout>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingValue>

@if (!String.IsNullOrEmpty(Settings.Value.GoogleAnalyticsToken))
{
    <NavigationTracker />
}

@code {
    public CurrentLocation Location { get; set; }

    protected override void OnInitialized()
    {
        Nav.LocationChanged += HandleLocationChanged;

        Location = new CurrentLocation(Nav.Uri);

        base.OnInitialized();
    }

    void HandleLocationChanged(Object sender, LocationChangedEventArgs a)
    {
        Location = new CurrentLocation(a.Location);

        StateHasChanged();
    }

    protected override void OnAfterRender(Boolean firstRender)
    {
        base.OnAfterRender(firstRender);
    }
}