@page "/ui/{*Path}"
@using Microsoft.Data.SqlClient
@inject LocationQueryRunner Runner
@inject NavigationManager NavigationManager
@inject IOptions<AppSettings> Options
@inject IJSRuntime Js
@inject CircuitState Cs
@implements IDisposable

@{
    var isFirstRender = renderCount == 0;

    renderCount++;

    log.Debug($"Render {instanceId} #{renderCount}, query state: {lastQueryTask?.Status}");

    var sd = Runner.CurrentConnectionHolder.StallDetective;

    var settings = Options.Value;
}

<PageTitle>@vm?.Response.RootName</PageTitle>

<DefaultLayout>
    <NavItems>
        <BreadcrumbItem><a class="text-muted" href="/">Databases</a></BreadcrumbItem>

        @if (vm?.Result != null)
        {
            <BreadcrumbItem><a class="text-muted" href="@vm.Response.RootUrl.If(vm.Response.QueryType != QueryControllerQueryType.Root)">@vm.Response.RootName</a></BreadcrumbItem>
            <CascadingValue Value="QueryContext">
                @if (vm.Result.PrincipalEntities != null)
                {
                    var entity = vm.Result.PrincipalEntities.List.Single("Unexpectedly not having a unique principal");

                    <BreadcrumbItem>
                        <span class="entity-context text-muted">
                            <EntityHeaderView Table="@vm.Response.PrincipalRelation.OtherEnd.Table" Entity="@entity" />
                        </span>
                    </BreadcrumbItem>
                    <BreadcrumbItem>
                        <span class="text-muted"><EntityRelationNameView RelationEnd="@vm.Response.PrincipalRelation" NoColumnInformation="@true" /></span>
                    </BreadcrumbItem>
                }
                else if (vm.Result.PrimaryEntities is RelatedEntities pe)
                {
                    var entity = pe.List.FirstOrDefault();

                    switch (vm.Response.QueryType)
                    {
                        case QueryControllerQueryType.Table:
                            <span class="entity-context text-muted"><EntityRelationNameView RelationEnd="@pe.RelationEnd" NoColumnInformation="@true" /></span>
                            break;
                        case QueryControllerQueryType.Row:

                            <BreadcrumbItem>
                                <a class="entity-context text-muted" href="@QueryContext.RenderTableUrl(vm.Response.Table)"><EntityRelationNameView RelationEnd="@pe.RelationEnd" NoColumnInformation="@true" /></a>
                            </BreadcrumbItem>

                            <BreadcrumbItem>
                                <span class="text-muted entity-context">
                                    <EntityHeaderView Table="@pe.RelationEnd.Table" Entity="@entity" ShowLink="@false" />
                                </span>
                            </BreadcrumbItem>
                            break;
                        case QueryControllerQueryType.Column:
                            <BreadcrumbItem>
                                <a class="entity-context text-muted" href="@QueryContext.RenderTableUrl(vm.Response.Table)"><EntityRelationNameView RelationEnd="@pe.RelationEnd" NoColumnInformation="@true" /></a>
                            </BreadcrumbItem>

                            <BreadcrumbItem>
                                <a class="text-muted entity-context" href="@QueryContext.RenderEntityUrl(vm.Response.Table, entity)">
                                    <EntityHeaderView Table="@pe.RelationEnd.Table" Entity="@entity" ShowLink="@false" />
                                </a>
                            </BreadcrumbItem>

                            <BreadcrumbItem>
                                <span>@vm.LastRequest.Column</span>
                            </BreadcrumbItem>
                            break;
                        case QueryControllerQueryType.TableSlice:
                            @* Should have been handled above by having a principal entity *@
                            <i>some slice</i>
                            break;
                        case QueryControllerQueryType.Root:
                        default:
                            break;
                    }
                }
            </CascadingValue>
        }
    </NavItems>

    <ActionItems>
        @if (settings.EnablePrimaryIdSqlCopy)
        {
            <PrimaryIdSqlCopyButton Response="@vm?.LastResponse" />            
        }
        <div class="btn-group">
            @if (Settings.EnableDevMode)
            {
                <a class="btn btn-outline-dark text-muted" href="/info/@vm?.LastRequest.Source">schema</a>
                <button class="btn btn-outline-dark text-muted" @onclick="OpenReportModal">report</button>
            }
            <button class="btn btn-outline-dark text-muted" @onclick="OpenSqlModal"><strong>SQL</strong></button>
        </div>
    </ActionItems>

    <ChildContent>

        <CascadingValue Value="QueryContext">

            <SidebarLayout>
                <RightContent>
                    <div class="common-lead-spacer">&nbsp;</div>

                    @if(Settings.EnableDevMode)
                    {
                        if (vm?.LastResponse?.Ledger != null)
                        {
                            <div>
                                <span>@queryCount / @renderCount</span>
                            </div>
                            <div class="common-lead-spacer">&nbsp;</div>
                            <div class="">
                                <dl>
                                    @foreach (var entry in vm.LastResponse.Ledger.GetEntries())
                                    {
                                        <dt>@entry.name</dt>
                                        <dd>@entry.time</dd>
                                    }
                                </dl>
                            </div>
                        }
                    }
                    else if (vm != null)
                    {
                        <h5 class="text-muted font-weight-bold border-bottom mb-4">Guidance</h5>
                        <div class="sidebar-helptext small text-muted">
                            <HelpText QueryType="@vm.LastResponse.QueryType" />
                        </div>
                    }
                </RightContent>

                <LeftContent>
                    @if (vm?.SearchOptions != null)
                    {
                        <div class="common-lead-spacer">&nbsp;</div>
                        <SearchPanel Vm="vm" SearchValues="SearchValues" />
                    }
                </LeftContent>

                <ChildContent>

                    <div class="common-lead-spacer">&nbsp;</div>

                    @if (currentSource?.State == LiveSourceState.Building)
                    {
                        // All other states should lead to a quick error display
                        <div class="alert alert-info">
                            Building model for database schema. <span class="spinner-border spinner-border-sm"></span>
                        </div>
                    }
                    else if (vm != null)
                    {
                        switch (vm.LastResponse.QueryType)
                        {
                            case QueryControllerQueryType.Table:
                            case QueryControllerQueryType.TableSlice:
                                <div class="search-panel-spacer">&nbsp;</div>
                                break;
                        }

                        <div class="@ClassNames("query-results", "querying".If(IsQuerying && sd != null))">

                            @if (Settings.ShowHelpTexts)
                            {
                                <p class="d-block d-lg-none"><i class="fa fa-exclamation-triangle"></i> Note that there are some explanatory texts on larger screens.</p>
                            }

                            @if (vm.LastResponse.Exception is SqlException se)
                            {
		                        <div class="alert alert-danger">
		                            <div class="mb-2">
		                                The database sent an error.
		                            </div>

		                            @foreach (Microsoft.Data.SqlClient.SqlError msg in se.Errors)
		                            {
		                                <div class="d-flex opacity-50 gap-2" style="font-size: .75rem">
		                                    <span>class=@msg.Class,</span>
		                                    <span>number=@msg.Number,</span>
		                                    <span>state=@msg.State</span>
		                                </div>
		                                <pre class="mb-0 text-wrap">
		                                    <div>@msg.Message</div>
		                                </pre>
		                            }
                                </div>
                            }
                            else if (vm.LastResponse.Exception is OperationCanceledException)
                            {
                                // canceled
                            }
                            else if (vm.LastResponse.Exception is SchemaChangedException)
                            {
                                if (showSchemaChangedException)
                                {
                                    <div class="alert alert-danger">
                                        <div>
                                            A schema change occured and the attempt to rebuild the model has failed.
                                        </div>
                                    </div>                                    
                                }
                            }
                            else if (vm.LastResponse.Exception is Exception e)
                            {
                                <div class="alert alert-danger">
                                    <div>
                                        An internal exception occurred on during this query, this is likely a bug.
                                    </div>
                                </div>
                            }

                            @if (vm.Result != null)
                            {
                                <div class="@ClassNames("entity-context", "entity-invalid".If(!vm.LastResponse.IsOk))">
                                    <EntityContentView Entity="@vm.Result.Entity" HideHeaders="@(vm.LastResponse.QueryType != QueryControllerQueryType.Root)" />
                                </div>

                                @switch (vm.CanLoadMore())
                                {
                                    case CanLoadMoreStatus.Can:
                                        if (vm.LastRequest.ListLimit < Settings.LoadMoreLimit)
                                        {
                                            <div class="my-4">
                                                <em class="btn">...and more</em> <button class="btn btn-light" @onclick="HandleLoadMoreClick">load <span>@Settings.LoadMoreLimit</span> at once</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="my-4">
                                                <em class="btn">...and more (maximum load size reached)</em>
                                            </div>
                                        }
                                        break;
                                    case CanLoadMoreStatus.Complete:
                                    case CanLoadMoreStatus.Unavailable:
                                    default:
                                        break;
                                }

                                <div class="common-lead-spacer">&nbsp;</div>
                            }
                        </div>

                        <Modal OnClose="SqlModalSubscription">
                            <Title>SQL Query</Title>
                            <HeaderExtra>
                                <small>
                                    <p class="mt-2 me-4">
                                        Each page's data is requested in only one query. The query is textually long, but
                                        executes efficiently as it relies only on a series of nested table seeks.
                                        This is guaranteed unless you use the scanning search or you hit a bug.
                                    </p>
                                    <p>
                                        Although this query uses the nonstandard XML query syntax of SQL Server, a similar
                                        query can be created for most other database engines. However, these may look even more
                                        convoluted then.
                                    </p>

                                </small>
                            </HeaderExtra>
                            <Body>
                                <pre><CopyableContent>@(vm.LastResponse?.Ledger?.GetLastEntry<QuerySql>()?.Sql)</CopyableContent></pre>
                                </Body>
                            </Modal>

                        <Modal OnClose="ReportModalSubscription">
                            <Title>Query report</Title>
                            <Body>
                                @foreach (var entry in vm.LastResponse.Ledger?.GetEntries())
                                {
                                    var result = entry.result.GetReportString();

                                    <h5>@entry.name<br /><small>@entry.time</small></h5>
                                    @if (result is String s)
                                    {
                                        <pre>
                                        <CopyableContent>@s</CopyableContent>
                                                </pre>
                                    }
                                }
                            </Body>
                        </Modal>
                    }

                    <div class="@ClassNames("query-delay-overlay", "querying".If(IsQuerying && sd != null))">
                        <div class="common-lead-spacer">&nbsp;</div>
                        <h2>Investigating slow query</h2>

                        <RerenderHelper Observable="@Runner.CurrentConnectionHolder" OnChange="@StateHasChanged" />

                        @if (sd != null)
                        {
                            <RerenderHelper Observable="@sd" OnChange="@StateHasChanged" />

                            <div class="text-muted">
                                <small>Session ID: @sd.Result.SessionId</small>
                            </div>

                            @if(sd.Result.headBlockerSessionId is Int32 blockerSessionId)
                            {
                                <div class="text-muted">
                                    <small>Blocking session ID: @blockerSessionId</small>
                                </div>                                
                            }

                            <div>
                                @switch (sd.Result.Type)
                                {
                                    case StallInvestigationResultType.Initial:
                                        break;
                                    case StallInvestigationResultType.CantConnect:
                                        <p>
                                            The server has become unreachable.
                                        </p>
                                        break;
                                    case StallInvestigationResultType.NoInformation:
                                        <p>
                                            The server is reachable, but even though this connection has the required permission,
                                            no further information about the stalled query could be retrieved.
                                        </p>
                                        break;
                                    case StallInvestigationResultType.NoPermission:
                                        <p>
                                            The server is reachable, but this connection doesn't have the necessary
                                            VIEW SERVER STATE permission required for further stall investigation.
                                        </p>
                                        break;
                                    case StallInvestigationResultType.Blocked:
                                        <p>
                                            The query is blocked waiting on a locked resource. It will continue as soon as
                                            the lock is released.
                                        </p>
                                        break;
                                    case StallInvestigationResultType.Unblocked:
                                        <p>
                                            Query status could be retrieved and it is not reported to be blocked.
                                            The following spinner will move every second the database makes some
                                            progress on this query. If it doesn't move, then the query is blocked in
                                            some unreported way.
                                        </p>
                                        <i class="fas fa-spinner" style="transform: rotate(@((sd.Result.progress % 8) * 45)deg)"></i>
                                        break;
                                }
                            </div>
                        }
                    </div>

                </ChildContent>
            </SidebarLayout>
        </CascadingValue>
    </ChildContent>
</DefaultLayout>

<RerenderHelper Observable="@SearchValues.Backing" OnChange="@HandleSeekValuesChanged" />

@code {
    static Logger log = LogManager.GetCurrentClassLogger();

    static Int32 staticInstanceId = 0;

    Int32 instanceId = (staticInstanceId++ % 10);

    [Parameter]
    public String Path { get; set; }

    [CascadingParameter]
    public CurrentLocation Location { get; set; }

    LiveSource currentSource;

    CurrentLocation previousLocation;

    Boolean IsQuerying => lastQueryTask?.IsCompleted != true;

    Int32 listLimit;

    Boolean haveLocationChange = false;

    AppSettings Settings => Options.Value;

    Int32 renderCount, queryCount;

    Boolean showSchemaChangedException;

    IMap<String, String> SearchValues => Cs.SearchValuesByLocation[Location.Location];

    Task<LocationQueryResult> lastQueryTask;

    Boolean jsInitPending;
    Boolean isDisposed;

    LocationQueryVm vm = null;

    QueryContext QueryContext { get; set; }

    String currentUri;

    void OpenSqlModal() => SqlModalSubscription = () => SqlModalSubscription = null;

    Action SqlModalSubscription { get; set; }

    void OpenReportModal() => ReportModalSubscription = () => ReportModalSubscription = null;

    Action ReportModalSubscription { get; set; }

    Boolean CheckLocationUri(out Uri uri)
    {
        uri = null;

        if (String.IsNullOrEmpty(Location?.Location)) return true;

        uri = new Uri(Location.Location, UriKind.Absolute);

        return uri.Segments.Length < 2 || uri.Segments[0] != "/" || uri.Segments[1] != "ui/";
    }

    async void StartQuery(Boolean synchronously = false, Int32 attempt = 0)
    {
        log.Debug($"Starting new query {(synchronously ? "synchronously" : "asynchronously")}");

        if (CheckLocationUri(out var uri))
        {
            log.Info("Query page left, won't run a query");

            return;
        }

        var queryParams = HttpUtility.ParseQueryString(uri.Query);

        var segments = uri.Segments.Skip(1).ToArray();

        var request = new LocationQueryRequest(segments, queryParams, SearchValues.ToNameValueCollection())
        {
            ListLimit = listLimit
        };

        var source = currentSource = Runner.GetLiveSource(request.Source);

        var ensureModelTask = source.EnsureModelAsync();

        if (source.State != LiveSourceState.Ready)
        {
            StateHasChanged();
        }

        await ensureModelTask;

        var response = Runner.StartQuery(source, request.Source, request);

        if (haveLocationChange)
        {
            vm = new LocationQueryVm(request, response);

            QueryContext = new QueryContext(request.Source);

            QueryContext.InDebug = queryParams["debug"] != null;

            haveLocationChange = false;
        }
        else
        {
            vm.Update(request, response);
        }

        var queryTask = lastQueryTask = AwaitResponse(response, synchronously);

        if (lastQueryTask.IsCompleted)
        {
            log.Debug($"Query completed synchronously");
        }
        else
        {
            log.Debug($"Query is running asynchronously");
        }

        StateHasChanged();

        var resultOrNull = await lastQueryTask;

        if (response.Exception is SchemaChangedException)
        {
            if (attempt == 0)
            {
                log.Info($"Got SchemaChangedException at attempt #{attempt}, re-running query");

                StartQuery(synchronously, attempt + 1);
            }
            else
            {
                log.Info($"Got SchemaChangedException at attempt #{attempt}, giving up");

                showSchemaChangedException = true;

                StateHasChanged();
            }
        }
        else if (lastQueryTask == queryTask)
        {
            vm.UpdateResult(resultOrNull);

            showSchemaChangedException = false;

            StateHasChanged();
        }
    }

    async Task<LocationQueryResult> AwaitResponse(LocationQueryResponse response, Boolean synchronously)
    {
        static Boolean ShouldLogExceptionToBrowser(Exception ex) => ex switch
        {
            null => false,
            SqlException => false,
            OperationCanceledException => false,
            SchemaChangedException => false,
            _ => true
        };

        if (response.Task == null) return null;

        if (false)
        {
            response.Task.Wait();
        }
        else
        {
            await response.Wait();
        }

        if (ShouldLogExceptionToBrowser(response.Exception))
        {
            Js.InvokeVoidAsync("console.log", response.Exception.ToString()).Ignore();
        }

        ++queryCount;

        if (!response.Task.IsCompletedSuccessfully) return null;

        jsInitPending = true;

        return response.Task.Result;
    }

    void HandleSeekValuesChanged()
    {
        log.Debug("Seek values changed");

        StartQuery();
    }

    void HandleLoadMoreClick()
    {
        listLimit = Settings.LoadMoreLimit + 1;

        StartQuery();
    }

    protected override void OnParametersSet()
    {
        if (Location != previousLocation)
        {
            log.Debug($"OnParametersSet uri changed from {previousLocation?.Location ?? "null"} to {Location.Location}");

            previousLocation = Location;

            RunQueryAfterLocationChange(false);
        }

        base.OnParametersSet();
    }

    protected override async Task OnAfterRenderAsync(Boolean firstRender)
    {
        if (jsInitPending)
        {
            jsInitPending = false;

            log.Debug($"init boostrap content after render");

            await Js.InvokeVoidAsync("initBootstrapContent");
        }
    }

    void RunQueryAfterLocationChange(Boolean synchronously)
    {
        listLimit = Settings.InitialLimit;
        haveLocationChange = true;

        StartQuery(synchronously);
    }

    void IDisposable.Dispose()
    {
        log.Debug($"Disposing ui page");

        isDisposed = true;
        Runner.Cancel();
    }
}
