@model Squil.Controllers.QueryController.IndexVm

@{
    ViewData["Title"] = Model.RootName;
}

@section NavItems
{
    <li class="nav-item"><a class="nav-link text-muted" href="@Model.RootUrl">@Model.RootName</a></li>
}

<div class="row">
    <div class="entity-context col-12 col-xl-10">
        @Html.Raw(Model.Html)

        @*<pre class="debug-xml-original">
            @Model.Html
        </pre>*@

    </div>

    <div class="d-none d-xl-block col-xl-2 small text-muted">
        <partial name="_HelpText" model="@Model.QueryType" />
    </div>
</div>